.storybook-button {
  font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
  border: 0;
  border-radius: 3em;
  cursor: pointer;
  display: inline-block;
  line-height: 1;
}
.storybook-button--primary {
  color: #E74243;
  background-color: #FFFFFF;
}
.storybook-button--secondary {
  color: #333;
  background-color: transparent;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 1px inset;
}
.storybook-button--small {
  font-size: 12px;
  padding: 10px 16px;
}
.storybook-button--medium {
  font-size: 14px;
  padding: 11px 20px;
}
.storybook-button--large {
  font-size: 16px;
  padding: 12px 24px;
}

.storybook-button--xs{
  width: 111px;
  height: 32px;
  border-radius: 6px;
  font-size: 12px;
  padding: 8px 16px;
}
.storybook-button--sm {
  width: 134px;
  height: 36px;
  font-size: 14px;
  border-radius: 6px;
  padding: 8px 20px;
}
.storybook-button--base {
  width: 142px;
  height: 40px;
  font-size: 14px;
  border-radius: 8px;
  padding: 8px 20px;
}
.storybook-button--md {
  width: 142px;
  height: 42px;
  font-size: 14px;
  border-radius: 8px;
  padding: 8px 20px;
}
.storybook-button--lg {
  width: 156px;
  height: 46px;
  font-size: 16px;
  border-radius: 10px;
  padding: 12px 24px;
}

